.profile {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 120px;
  /* background-color: rgb(222, 220, 220); */
}
.list {
  display: flex;
  gap: 30px;
}
.list > .listitems {
  margin-top: 20px;
  width: 140px;
  height: 140px;
  background-color: orange;
  padding-left: 30px;
  padding-top: 54px;
  border-radius: 50%;
  cursor: pointer;
  border: solid black 1px;
}
.list > .listitems1 {
  margin-top: 20px;
  width: 140px;
  height: 140px;
  background-color: rgb(239, 102, 102);
  padding-left: 38px;
  padding-top: 54px;
  border-radius: 50%;
  cursor: pointer;
  border: solid black 1px;
}
.list > .listitems2 {
  margin-top: 20px;
  width: 140px;
  height: 140px;
  background-color: lightblue;
  padding-left: 38px;
  padding-top: 54px;
  border-radius: 50%;
  cursor: pointer;
  border: solid black 1px;
}
.about {
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.footer {
  margin-top: 150px;
}
.footeritems {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
.experience {
  display: flex;
  justify-content: space-around;
  /* gap: 200px; */
}
.project {
  margin-top: 130px;
}
.projects {
  display: flex;
  justify-content: center;
  column-gap: 80px;
  margin-top: 100px;
}
.contact {
  margin-top: 100px;
}
.listitems:hover {
  background-color: white;
  transition: 700ms;
}
.listitems1:hover {
  background-color: white;
  transition: 700ms;
}
.listitems2:hover {
  background-color: white;
  transition: 700ms;
}
